{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% tailwind_css %}
    </head>
    <body class="m-3">
        <div class="mb-2">
            <a class="btn" href="{% url 'upload' %}">upload</a>
            <a class="btn" href="{% url 'edit' %}">edit</a>
            <a class="btn" href="{% url 'select' %}">select</a>
            <a class="btn" href="{% url 'download' %}">download</a>
        </div>
        {% block content %}
        {% endblock content %}
    </body>
</html>
